body {
    background-image: url("/Users/daniwood/Documents/UCF/MyWork/TriviaGame/assets/images/background.jpg");
    background-size: 100%;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}

#instructions {
    background-color: rgb(145, 185, 238);
    border: 2px solid white;
    font-weight: 900;
    font-size: 30px;
}
#timer {
    font-size: 60px;
    background-color: #25f3de94;
    position: fixed;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 2px solid white;
    margin: -259px;
    padding: 17px;
}
#questions {
    font-size: 25px;
}
#in-game  {
    background-color: #dda0ddc9;
    padding: 15px;
    margin: auto;
    text-align: center;
    height: 50%;
    width: 58%;
    border: 2px solid white;
}
/*==== z-index to raise the question div to the forefront with a separate background. color not image? =====*\
