body {
    background-image: url("/Users/daniwood/Documents/UCF/MyWork/TriviaGame/assets/images/background.jpg");
    background-size: 100%;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
}

#instructions {
    background-color: rgb(145, 185, 238);
    border: 1px solid black;
    font-weight: 900;
    font-size: 30px;
}
#questions {
    font-size: 25px;
}
#in-game  {
    background-color: plum;
    padding: 15px;
    margin: auto;
    text-align: center;
    height: 50%;
    width: 50%;
    z-index: 1000px;
    border: 1px solid black;
}
/*==== z-index to raise the question div to the forefront with a separate background. color not image? =====*\
